.light {
  --theme-element: #FFFFFF;
  --theme-background: #FAFAFA;
  --theme-text: #111517;
  --theme-input: #858585;
}

.dark {
  --theme-element: #2B3945;
  --theme-background: #202C37;
  --theme-text: #FFFFFF;
}

.container {
  --desktop-width: 1440px;
}